# Problem Set 2

## Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
print(a) 

b()
print(a) 

b()
print(a)

2
4
6

## Question 2

In [14]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        contents = infile.read()
        length = len(contents)
        infile.close()
        return length
    except FileNotFoundError:
        print(f"File {filename} not found.")

fileLength('midterm.txt')
fileLength('bloodtype1.txt')

File midterm.txt not found.

101

## Question 3

In [16]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, fx, fy):
        self.x += fx
        self.y += fy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


m = Marsupial()
m.put_in_pouch("apple")
m.put_in_pouch("banana")
print("The contents in the pouch of Marsupial are: ", m.pouch_contents())


k = Kangaroo(0, 0)
k.put_in_pouch("candy")
k.put_in_pouch("carrot")
k.put_in_pouch("ball")

print("\nThe contents in the pouch of Kangaroo are: ", k.pouch_contents())

k.jump(1, 5)
k.jump(3, 3)

print("\n",k)

The contents in the pouch of Marsupial are:  ['apple', 'banana']

The contents in the pouch of Kangaroo are:  ['candy', 'carrot', 'ball']

 I am a Kangaroo located at coordinates (4,8)

## Question 4

In [17]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x//2)
    else:
        collatz(3*x+1)

x = int(input("Enter a positive integer value: "))
collatz(x)

Enter a positive integer value: 7
7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

## Question 5

In [18]:
def binary(n):
    if n > 1:
        return binary(n // 2) + str(n % 2)
    else:
        return str(n % 2)


n = int(input("Enter a number that you want to convert to binary: "))
print("The binary form of", n, "is", binary(n))

Enter a number that you want to convert to binary: 12
The binary form of 12 is 1100

## Question 6

In [4]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indent = 0
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1].isdigit():
            self.indent = int(tag[1]) - 1


    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.indent = 0

    def handle_data(self, data):
        if data.strip() and self.indent >= 0:
            heading = ' ' * self.indent + data.strip()
            self.headings.append(heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)


infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

This is the title
W3C Mission
 Principles

## Question 7

In [3]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent=0):

    print(' ' * indent, url)

    if depth > 0:
        try:
            response = requests.get(url)
            soup = BeautifulSoup(response.content, 'html.parser')

            links = soup.find_all('a')

            for link in links:
                absolute_url = link.get('href')
                if absolute_url and not absolute_url.startswith('#'):
                    absolute_url = requests.compat.urljoin(url, absolute_url)
                    # Use of Recursive functionality
                    webdir(absolute_url, depth - 1, indent + 1)

        except requests.exceptions.RequestException:
            print('Error: Could not fetch URL', url)
            return

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 10, 5)

      http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

## Question 8

In [24]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('climate.db')

import sqlite3

# connect to database
conn = sqlite3.connect('climate.db')
c = conn.cursor()

# create climate table
# c.execute('''CREATE TABLE climate
#              (City text, Country text, Season text, Temperature real, Rainfall real)''')

# insert data into climate table
# c.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
# c.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
# c.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
# c.execute("INSERT INTO climate VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
# c.execute("INSERT INTO climate VALUES ('London', 'UK', 'Winter', 4.2, 207.7)")
# c.execute("INSERT INTO climate VALUES ('London', 'UK', 'Spring', 8.3, 169.6)")
# c.execute("INSERT INTO climate VALUES ('London', 'UK', 'Summer', 15.7, 157.0)")
# c.execute("INSERT INTO climate VALUES ('London', 'UK', 'Fall', 10.4, 218.5)")
# c.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
# c.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
# c.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
# c.execute("INSERT INTO climate VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# commit changes and close connection
conn.commit()
conn.close()

# a) All the temperature data
cur.execute("SELECT Temperature FROM climate")
all_temps = cur.fetchall()
print("All temperature data:", all_temps)

# b) All the cities without repetition
cur.execute("SELECT DISTINCT City FROM climate")
all_cities = cur.fetchall()
print("\n\nAll cities:", all_cities)

# c) All the records for India
cur.execute("SELECT * FROM climate WHERE Country='India'")
india_records = cur.fetchall()
print("\nRecords for India:", india_records)

# d) All the records Fall season
cur.execute("SELECT * FROM climate WHERE Season='Fall'")
fall_records = cur.fetchall()
print("\nFall records:", fall_records)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cur.execute("SELECT City, Country, Season FROM climate GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
rainfall_records = cur.fetchall()
print("\nRainfall records between 200 and 400 mm:", rainfall_records)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cur.execute("SELECT City, Country FROM climate WHERE Season='Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = cur.fetchall()
print("\nIn the increasing temperature order,the fall temperature records above 20 degrees were:", fall_temp_records)

# g) The total annual rainfall for Cairo
cur.execute("SELECT SUM(Rainfall) FROM climate WHERE City='Cairo'")
cairo_rainfall = cur.fetchone()
print("\nTotal annual rainfall in Cairo was :", cairo_rainfall[0])

# h) The total rainfall for each season
cur.execute("SELECT Season, SUM(Rainfall) FROM climate GROUP BY Season")
season_rainfall = cur.fetchall()
print("\nThe Total rainfall for each season was :", season_rainfall)

# close the connection
conn.close()

All temperature data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]


All cities: [('Mumbai',), ('London',), ('Cairo',)]

Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'UK', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Rainfall records between 200 and 400 mm: [('London', 'UK', 'Fall'), ('London', 'UK', 'Winter'), ('Mumbai', 'India', 'Fall')]

In the increasing temperature order,the fall temperature records above 20 degrees were: [('Cairo', 'Egypt'), ('Mumbai', 'India')]

Total annual rainfall in Cairo was : 27.6

The Total rainfall for each season was : [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# The list of words in uppercase
words_upper = [word.upper() for word in words]
print("\n",words_upper)

# The list of words in lowercase
words_lower = [word.lower() for word in words]
print("\n",words_lower)

# The list of lengths of words
word_length = [len(word) for word in words]
print("\n",word_length)

# The list of lists with word in uppercase, lowercase, and length
words_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("\n",words_info)

# The list of words containing 4 or more characters
words_long = [word for word in words if len(word) >= 4]
print("\n",words_long)

 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

 [3, 5, 5, 3, 5, 4, 3, 4, 3]

 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 ['quick', 'brown', 'jumps', 'over', 'lazy']